@media screen and (min-width: 960px) {
	/* 
		如果父级元素设置transform: translate属性的话，子元素的position:fixed就失效了
		如果想要相对父级元素定位，就要使用margin属性
	*/
	.back {
		position: fixed;
		width: 2vw;
		height: 2vw;
		background: url('https://i.loli.net/2019/06/06/5cf86f9e2ae5713005.jpg') no-repeat;
		background-size: cover;
		margin: 28vw 0 0 64vw;
		cursor: pointer;
		opacity: 1;
		transition: opacity .5s ease;
	}

	.study__item {
		margin-bottom: 40px;
	}

	.study__item > .item__title {
		color: #515A6E;
		font-weight: bold;
		font-size: 20px;
		margin-bottom: 20px;
	}

	.study__item > .item__wrap {
		display: grid;
		grid-template-columns: repeat(auto-fill, 33%);
	}

	.item__wrap > .item__web {
		display: flex;
		justify-content: center;
		margin-bottom: 20px;
	}

	.item__web > a {
		display: block;
		width: 20vw;
		height: 120px;
		background-color: #fff;
		border-radius: 5px;
		border: 1px solid #ccc;
		text-align: center;
		padding: 20px;
		box-sizing: border-box;
    cursor: pointer;
    transition: all .5s ease;
	}

	.item__web > a:hover {
    box-shadow: 0px 1px 9px #ccc;
    border: 1px solid #FFF;
	}

	.item__web > a > img {
		width: 60px;
		height: 60px;
	}

	.item__web > a p {
		color: #6278de;
	}

	.item__web > a p:hover {
		color: #2d8cf0;
	}
}
