.shome,.shome__true {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #fc5d42;
	transition: width .5s ease-in;
}

.shome {
  width: 1px;
}

.shome__true {
  width: 1450px;
}