@import './pc.css';
@import './mobile.css';

.header {
	position: relative;
	width: 80%;
	margin: 0 auto;
	z-index: 999;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__title {
	position: relative;
	display: flex;
	align-items: center;
	float: left;
	cursor: pointer;
}

.header__title > img {
	width: 40px;
	padding-right: 10px;
}

.header__title > .cat {
	display: inline-block;
	letter-spacing: 1.3px;
}

.header__title span {
	display: inline-block;
	font-size: 12px;
	color: #ffffc2;
}