@media screen and (max-width: 960px) {
	.control,
	.control__true {
		width: 25px;
	}

	.control__true {
		width: 350px;
	}

	@keyframes cat {
		form {
			left: -150px;
		}
		to {
			left: 370px;
		}
	}
	
	@keyframes catY {
		form {
			left: 100px;
		}
		to {
			left: -600px;
		}
	}
}
@media screen and (min-width: 960px) {
	.control,
	.control__true {
		width: 50px;
	}

	.control__true {
		width: 1400px;
	}

	@keyframes cat {
		form {
			left: -250px;
		}
		to {
			left: 1600px;
		}
	}
	
	@keyframes catY {
		form {
			left: 200px;
		}
		to {
			left: -1600px;
		}
	}
}
.control,
.control__true {
	display: flex;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	cursor: pointer;
	transform: translateX(0);
	background-color: #fc5d42;
	border-left: 2px solid #ffffc2;
	transition: all 0.5s ease-in;
	z-index: 1;
}

.control__change {
	position: absolute;
	bottom: 10%;
}

.control__rhombus {
	display: block;
	width: 30px;
	height: 30px;
	transform: rotate(45deg) translateX(-26px);
	border: 2px solid #ffffc2;
}

.control__leftRow,.control__rightRow {
	content: '';
	position: absolute;
	display: block;
	width: 15px;
	height: 15px;
	border: 2px solid #ffffc2;
}

.control__leftRow {
	transform: rotate(45deg) translateX(-50px) translateY(-11px);
	border-right: none;
	border-top: none;
	animation: controlBefore 2s ease infinite;
}

.control__rightRow {
	transform: rotate(45deg) translateX(-28px) translateY(-33px);
	border-left: none;
	border-bottom: none;
	animation: controlTrueBefore 2s ease infinite;
}

.control__cat,
.control__cat__Y {
	position: absolute;
	width: 100px;
	height: 30px;
	left: -250px;
	bottom: 12%;
	z-index: 1;
	animation: cat 10s ease-in-out infinite;
}

.control__cat__Y {
	left: 100px;
	transform: rotateY(180deg);
	animation: catY 10s ease-in-out infinite;
}

@keyframes controlBefore {
	from {
		opacity: 0;
		left: -20px;
	}
	to {
		opacity: 1;
		left: -60px;
	}
}

@keyframes controlTrueBefore {
	from {
		opacity: 0;
		left: 0px;
	}
	to {
		opacity: 1;
		left: 50px;
	}
}