@import './pc.css';
@import './mobile.css';

.control,
.control__true {
	display: flex;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	cursor: pointer;
	background-color: #fc5d42;
	border-left: 2px solid #ffffc2;
	transition: all 0.5s ease-in;
	z-index: 1;
}

.control__change {
	position: absolute;
	bottom: 10%;
}

.control__cat,
.control__cat__Y {
	position: absolute;
	width: 100px;
	height: 30px;
	left: -250px;
	bottom: 12%;
	z-index: 1;
	animation: cat 10s ease-in-out infinite;
}

.control__cat__Y {
	left: 100px;
	transform: rotateY(180deg);
	animation: catY 10s ease-in-out infinite;
}